@import url('variables.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-text);
    color: var(--color-primary);
    background-color: var(--color-tertiary);
}

h1, h2, h3, h4 {
    font-family: var(--font-header);
    font-weight: 400;
}
h1 {
    font-size: 2rem;
    @media (min-width: 1200px) {
        font-size: 3rem;
    }
}
a {
    text-decoration: none;
    color: var(--color-primary);
}

.hidden, #profileBtn.hidden {
    display: none;
}


.actual {
    font-weight: 500;
}

/* HEADER NAV */

header {
    background-color: var(--color-transparrent);
    padding-inline: 2rem;
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .navbar-left {
            display: flex;
            align-items: end;
            gap: 2rem;
            a.nav-link {
                margin-bottom: 3px;
            }
        }
        .navbar-right .nav-links {
            display: none;
        }
        .burger-menu {
            display: none; 
            flex-direction: column;
            cursor: pointer;
            z-index: 3;
            gap: 5px;
            .line {
                width: 25px;
                height: 3px;
                background-color: #000;
                transition: 0.3s ease-in-out;

            }
        }   
        @media (max-width: 900px) {
            .navbar-left .nav-link {
                display: none;
            }
            .burger-menu {
                display: flex;
                .line {
                transition: transform 0.3s ease, opacity 0.3s ease;
                }
            }
            .burger-menu.close .line:nth-child(1) {
                transform: rotate(45deg);
                position: absolute;
                background-color: var(--color-secondary);
                z-index: 10;

            }
            .burger-menu.close .line:nth-child(2) {
                opacity: 0; 
            }
            .burger-menu.close .line:nth-child(3) {
                transform: rotate(-45deg);
                position: absolute;
                background-color: var(--color-secondary);
                z-index: 10;

            }
            .navbar-right {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                .nav-links {
                    opacity: 0; 
                    transform: translateX(100%); /* Slide out of view */
                    visibility: hidden; /* Prevent interaction when hidden */
                    transition: transform 0.5s ease, opacity 0.5s ease;
                    display: flex; 
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100dvw;
                    height: 100dvh;
                    background-color: var(--color-primary);
                }
                .nav-links.show {
                    opacity: 1; 
                    transform: translateX(0);
                    visibility: visible;
                    transition: transform 0.5s ease, opacity 0.5s ease;
                    a {
                        font-size: 1.2rem;
                        color: var(--color-secondary);
                    }
                    a:hover {
                        font-weight: 500;
                    }
                }
            }
        }
        @media (min-width:1024px) {
            padding-inline: 2rem;
        }
    }
}
.home-page header {
    background-color: var(--color-secondary);
}

/* HERO */
#hero {
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 2rem;
    img {
        max-width: 100%;
        height: 100%;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
        justify-content: center;
        .filled-btn {
            margin-top: 1.5rem;
            padding-inline: 5rem;
            font-size: 1.1rem;
        }
        p {
            font-size: 1.1rem;
        }
    }

    @media (min-width:1024px) {
        padding-left: 4rem;
    } 

    @media (max-width: 900px) {
        .hero-text {
        gap: 1rem;
            p {
            font-size: 1rem;
            }
            .filled-btn {
            font-size: 1rem;
            padding-inline: 4rem;
            }
        }
    }

    @media (max-width: 764px) {
        grid-template-columns: 1fr;
        padding-right: 2rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        img {
            display: none;
        }
        .hero-text {
            gap: 1rem;
        }
    }
}


/* FORMS */
#container-form {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 2rem;
margin-inline: auto;
border-radius: 20px;
background-color: var(--color-secondary);
overflow: hidden;
    h1 {
        font-size: 2rem;
    }

    .text-box {
        background-image: url('../img/formbg2.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            background-color: var(--color-semi-transparrent);
            z-index: 10;
            display: flex;
            align-items: center;
            h1 {
                color: var(--color-secondary);
                padding-right: 7rem;
                padding-left: 2rem;
            }
        }
    }
    @media (min-width: 900px) {
        width: 900px;
    }
    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        margin-inline: 4rem;
        .text-box {
            display: none;
        }
    }
}

#form {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    gap: 2rem;        
    p {
        display: flex;
        justify-content: center;
        gap: 2rem;
        a {
            font-weight: 500;
        }
    }
    p.membership-date {
        justify-content: start;
        margin-top: 1rem;
        font-size: 1.2rem;
        color: var(--color-semi-transparrent);
        margin-bottom: 2rem;
    }
    h2.profile {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    form, #profile-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        button {
            margin-top: 1.3rem;
        }


        input {
            padding: 0.5rem 0;
            max-width: 100%;
            border: none;
            border-bottom: 1.5px solid var(--color-primary);
            background-color: var(--color-transparrent);
            outline: 0;
            font-size: 1rem;

            &::placeholder {
            color: transparent;
            }
        } 

        .input-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            position: relative;
            input {
                width: 100%;
                transition: font-size 0.3s;
            }
            label {
                position: absolute;
                bottom: 10px;
                left: 0;
                font-size: 1rem;
                color: var(--color-primary); 
                transition: 0.3s;
                pointer-events: none;
                cursor: text;
            }

        /* Floating label effect when input is focused */
            input:focus {
                border-width: 2px;
            }

            input:focus ~ label,
            input:not(:placeholder-shown) ~ label {
                font-size: 0.7rem;
                transition: 0.3s;
                top: -15px;
            }

            /* Reset input when required or invalid */
            input:required,
            input:invalid {
                box-shadow: none;
            }
        }
        fieldset {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            border: none;
            input {
                width: 100%;
            }
            @media (max-width: 400px) {
                flex-direction: column;
                gap: 1.5rem;
            }
        }
        .input-group2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                input {
                    width: 100%;
                }
                label {
                    min-width: fit-content;
                    font-size: 0.8rem;
                }
        }
    }
    @media (min-width: 700px) {
        #profile-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    @media (max-width: 500px) {
        margin: 2rem;
        padding: 0;
    }

} 



/* BUTTONS */

.border-btn {
    padding-inline: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-transparrent);
    font-weight: 500;
    font-family: var(--font-text);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
} 
.border-btn:hover {
    transform: scale(1.02);
}

.filled-btn {
    padding-inline: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 100px;
    font-weight: 500;
    font-size: 1.05rem;
    font-family: var(--font-text);
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
    transform: scale(1);
    transition: transform 0.3s ease;
}
.filled-btn:hover {
    transform: scale(1.02);
}

/* add this when removing hidden when user is logged in */
#profileBtn {
    padding-inline: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    background-color: var(--color-transparrent);
    display: flex;
    font-weight: 500;
    font-family: var(--font-text);
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    transform: scale(1);
    transition: transform 0.3s ease;
    cursor: pointer;
}
#profileBtn:hover {
    transform: scale(1.02);
}

#deleteBtn {
    padding-inline: 3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 100px;
    font-weight: 500;
    font-size: 1.05rem;
    font-family: var(--font-text);
    border: 2px solid var(--color-error);
    background-color: var(--color-error);
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
    transform: scale(1);
    transition: transform 0.3s ease;
    margin-top: 2rem;
}
#deleteBtn:hover {
    transform: scale(1.02);
}

.delete-account {
    margin-inline: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    @media (max-width: 500px) {
        margin-inline: 2rem;
        margin-top: 4rem;
    }
}